 @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:wght@600&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
 }

 #root {
     width: 100%;
     height: 100vh;
     padding: 0;
     background-color: #fff;
     color: #A79FA8;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
 }

 h1 {
     font-family: 'Playfair Display', serif;
     font-size: 50px;
     font-weight: 600;
     text-align: center;
 }

 p {
     font-family: 'Lato', sans-serif;
     font-size: 24px;
     text-align: center;
 }

 /*mobile*/
 @media only screen and (max-width: 768px) {
     h1 {
         font-size: 60px;
     }
 }