.playbtn {
    width: 120px;
    height: 120px;
    margin: 105px 0;
    border-radius: 50%;
    background-color: #BD9CE8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbtn:hover {
    transform: scale(1.1);
    transition: 600ms;
}

.stopIcon {
    transform: scale(.8);
}